<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NGO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpOrgServlet</display-name>
    <servlet-name>SignUpOrgServlet</servlet-name>
    <servlet-class>com.Controller.SignUpOrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpOrgServlet</servlet-name>
    <url-pattern>/SignUpOrgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>com.Connection.DbConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnection</servlet-name>
    <url-pattern>/DbConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOrgServlet</display-name>
    <servlet-name>LoginOrgServlet</servlet-name>
    <servlet-class>com.Controller.LoginOrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOrgServlet</servlet-name>
    <url-pattern>/LoginOrgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventPostServlet</display-name>
    <servlet-name>EventPostServlet</servlet-name>
    <servlet-class>com.Controller.EventPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventPostServlet</servlet-name>
    <url-pattern>/EventPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDeleteServlet</display-name>
    <servlet-name>EventDeleteServlet</servlet-name>
    <servlet-class>com.Controller.EventDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDeleteServlet</servlet-name>
    <url-pattern>/EventDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpVolServlet</display-name>
    <servlet-name>SignUpVolServlet</servlet-name>
    <servlet-class>com.Controller.SignUpVolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpVolServlet</servlet-name>
    <url-pattern>/SignUpVolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VolunteerBean</display-name>
    <servlet-name>VolunteerBean</servlet-name>
    <servlet-class>com.Connection.VolunteerBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerBean</servlet-name>
    <url-pattern>/VolunteerBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVolServlet</display-name>
    <servlet-name>LoginVolServlet</servlet-name>
    <servlet-class>com.Controller.LoginVolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVolServlet</servlet-name>
    <url-pattern>/LoginVolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventsApplyServlet</display-name>
    <servlet-name>EventsApplyServlet</servlet-name>
    <servlet-class>com.Controller.EventsApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventsApplyServlet</servlet-name>
    <url-pattern>/EventsApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowServlet</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>com.Controller.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnFollowServlet</display-name>
    <servlet-name>UnFollowServlet</servlet-name>
    <servlet-class>com.Controller.UnFollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnFollowServlet</servlet-name>
    <url-pattern>/UnFollowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilteredHoursServlet</display-name>
    <servlet-name>FilteredHoursServlet</servlet-name>
    <servlet-class>com.Controller.FilteredHoursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteredHoursServlet</servlet-name>
    <url-pattern>/FilteredHoursServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhaseEditServlet</display-name>
    <servlet-name>PhaseEditServlet</servlet-name>
    <servlet-class>com.Controller.PhaseEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhaseEditServlet</servlet-name>
    <url-pattern>/PhaseEditServlet</url-pattern>
  </servlet-mapping>
</web-app>